.black {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17202A;
  color: white;
}

.formInner {
  padding-bottom: 250px;
  max-width: 300px;
  word-wrap: break-word;
}

.formContents {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

.formInput {
  /* margin-right: 10px; */
  border-radius: 6px;
  font-size: 20px;
}

.formButton {
  background: #17202A;
    color: white;
    border-style: outset;
    border-color: #17202A;
    height: 35px;
    width: 100px;
    text-shadow: none;
    border-radius: 6px;
}

.formButton:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}